:host {
  .forgot-password-actions-container {
    min-height: calc(100vh - 200px);
    display:flex;
    align-items: center;
    max-width:300px; margin:auto;
    .forgot-password-actions {
      text-align: left;
      width:100%; padding:20px 0;
      form {
        margin:10px 0 30px 0;
      }
    }
  }
}