<app-background></app-background>
<ion-content class="auth-content" padding>
	<app-header></app-header>
	<div class="forgot-password-actions-container">
		<div class="forgot-password-actions">
			<ion-button [routerLink]="[app.nav.login.path]" fill="clear" color="light" routerDirection="back">
				<ion-icon slot="start" name="arrow-back"></ion-icon>
				{{ "BACK_BTN_BACK" | translate }}
			</ion-button>
			<form class="authorization-module-form">
				<input
					type="email"
					name="email"
					placeholder="{{ 'AUTH_EMAIL_LABEL' | translate }}"
					class="text-input"
				/>
				<ion-button color="dark" shape="round" expand="full">
					{{ "AUTH_RESET_PASSWORD" | translate }}
				</ion-button>
			</form>
			<app-register-here></app-register-here>
		</div>
	</div>
	<app-footer></app-footer>
</ion-content>
