<div class="job-list-mobile-browser-actions">
    <div class="mobile-status-select">
        <label>
            Job status
        </label>
        <select class="form-control">
            <option value="">
                Both
            </option>
            <option value="open" {% if(app.request.get('status') == 'open')  %} selected {% endif %}>
                Open
            </option>
            <option value="closed" {% if(app.request.get('status') == 'closed')  %} selected {% endif %}>
                Closed
            </option>
        </select>
    </div>
    <div class="order-select">
        <select class="form-control">
            {% for sortField in browserConfigurationData.sortFields %}
               {% if sortField.type != 'idle' %}
                   {% for key,orderTitle in sortField.sortOrderNames  %}
                       <option
                               data-path="{{ path(
                               'users_jobs',
                               filterRouteParams|merge (
                                       {
                                           (browserConfigurationData.sortKey) : sortField.slug,
                                           (browserConfigurationData.sortOrderKey) : key
                                       }
                                    )
                               ) }}"
                               {% if sortField.active and app.request.get('sort_order') == key %}
                                   selected
                               {% endif %}
                       >
                           {{ sortField.title }}: {{ orderTitle }}
                       </option>
                   {% endfor %}
               {% endif %}
            {% endfor %}
        </select>
    </div>
</div>