<a href="{{listing.link}}" data-analytics="{{ dataAnalytics }}">
    {% if(showIcon) %}
        <i class="fa fa-chevron-right"></i>
    {% endif %}
    {{translate('public_listing_more_listing')}}
</a>