<article class="standard listing-expired">
    <header>
        <div class="most-popular-icon-{{year}}">{{ index }}</div>
        <div class="listing-link no-logo-master ">
            <h3>{{ translate('public_listing_temporary_pending') }}</h3>
        </div>
    </header>
</article>