<a href="#" class="listing-save btn-save"
   data-listing-id="{{listing.id}}"
   data-type="{{ constant('Lib\\Listings\\Stats\\Stats::STAT_OUT_INTERACTIONS_SAVED') }}"
>
    <span class="fa fa-star-o"></span>
    <span class="fa fa-star"></span>
</a>



